.rdp-range_middle {
  background-color: #addab5 !important;
  color: white !important;
}

.rdp-range_start .rdp-day_button {
  background-color: #2d6a4f !important;
  color: white !important;
  border: #2d6a4f !important;
}

.rdp-range_end .rdp-day_button {
  background-color: #2d6a4f !important;
  color: white !important;
  border: #2d6a4f !important;
}

.rdp-range_start {
  background: linear-gradient(to right, transparent 30%, #addab5 70%);
}

.rdp-range_end {
  background: linear-gradient(to left, transparent 30%, #addab5 70%);
}

.rdp-today {
  color: #212622 !important;
  font-weight: normal;
}

.rdp-chevron {
  fill: #2a5732;
}
