@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:root {
  --verde-logo: #2d6a4f; /* Verde fuerte y vibrante */
  --beige-fondo: #f0e6d2; /* Fondo beige suave */
  --verde-hero: #2a5732; /* Verde Hero*/
  --gris-texto: #2a2a2a; /* Gris oscuro para texto */
  --blanco: #ffffff; /* Blanco para frescura */
  --gris-navbar: #4a4a4a; /* Gris claro suave, ideal para navbar */
}

.rdp-range_middle {
  background-color: #addab5 !important;
  color: white !important;
}

.rdp-range_start .rdp-day_button {
  background-color: #2d6a4f !important;
  color: white !important;
  border: #2d6a4f !important;
}

.rdp-range_end .rdp-day_button {
  background-color: #2d6a4f !important;
  color: white !important;
  border: #2d6a4f !important;
}

.rdp-range_start {
  background: linear-gradient(to right, transparent 30%, #addab5 70%);
}

.rdp-range_end {
  background: linear-gradient(to left, transparent 30%, #addab5 70%);
}

.rdp-today {
  color: #212622 !important;
  font-weight: normal;
}

.rdp-chevron {
  fill: #2a5732;
}
