@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:root {
  --verde-logo: #2d6a4f; /* Verde fuerte y vibrante */
  --beige-fondo: #f0e6d2; /* Fondo beige suave */
  --verde-hero: #86cb92; /* Verde Hero*/
  --gris-texto: #2a2a2a; /* Gris oscuro para texto */
  --blanco: #ffffff; /* Blanco para frescura */
  --gris-navbar: #4a4a4a; /* Gris claro suave, ideal para navbar */
}
